@font-face {
  font-family: 'Dos';
  src: url('../fonts/dos.woff2') format('woff2');
}

body {
  background:black;
}
a:hover{
  color:white;
}

.troll {
  float: right;
}

a {
  color: white;
}

h2 {
  text-align:center;
  font-family: 'Dos';
  color: white;
}

.warrior, .mage, .rogue, h3, h4 {
  text-align:center;
  font-family: 'Dos';
  color: white;
  cursor: pointer;
}

progress[value] {
  width: 250px;
  height: 20px;
}

.battletext {
  border: groove;
  border-color: white;
  width: 150px;
  border-radius: 10px;
}

.war:hover {
  text-shadow: 0px -8px 10px rgb(255, 51, 0);
}

.mage:hover {
  text-shadow: 0px -8px 10px rgb(4, 53, 255);
}

.rogue:hover {
  text-shadow: 0px -8px 10px rgb(0, 153, 51);
}

.warnameentry {
  text-align: center;
}

.magenameentry {
  text-align: center;
}

.roguenameentry {
  text-align: center;
}


h1 {
text-align:center;
font-family: 'Dos';
-webkit-animation:rainbow 2s infinite;
}
@-webkit-keyframes rainbow {
0% {color: #ff0000;}
10% {color: #ff8000;}
20% {color: #ffff00;}
30% {color: #80ff00;}
40% {color: #00ff00;}
50% {color: #00ff80;}
60% {color: #00ffff;}
70% {color: #0080ff;}
80% {color: #0000ff;}
90% {color: #8000ff;}
100% {color: #ff0080;}
}

.fire1 {
  width: 50px;
  height: 50px;
}

.fire2 {
  width: 50px;
  height: 50px;
}

.warpic {
  text-align:center;
  /*margin-left: 300px;
  margin-top: 200px;*/
  width: 150px;
  height: 150px;
}
.magepic {
  /*margin-left: 600px;
  margin-top: 200px;*/
  width: 150px;
  height: 150px;
}
.roguepic {
  /*margin-left: 900px;
  margin-top: 200px;*/
  width: 150px;
  height: 150px;
}

.level1charpic {
  width: 150px;
  height: 150px;
}
