<div class='container-fluid'>

<div ng-show="mage.length">
  <ul ng-repeat="item in mage">
    <h1>{{item.name}}</h1>
  </ul>
  <center><image class='magepic' src='css/img/mage.gif'></img></a></h3>
    <h3><input type='submit' ng-click='NewCharFactory.addStrength()' value='+1 Strength' style="border: none; background: none; padding: 0;" /></h3>
    <h3><input type='submit' ng-click='NewCharFactory.addDexterity()' value='+1 Dexterity' style="border: none; background: none; padding: 0;" /></h3>
    <h3><input type='submit' ng-click='NewCharFactory.addIntelligence()' value='+1 Intelligence' style="border: none; background: none; padding: 0;" /></h3>
</div>

<div ng-show="rogue.length">
  <ul ng-repeat="item in rogue">
    <h1>{{item.name}}</h1>
  </ul>
  <center><image class='roguepic' src='css/img/rogue.gif'></img></a></h3>
    <h3><input type='submit' ng-click='NewCharFactory.addStrength()' value='+1 Strength' style="border: none; background: none; padding: 0;" /></h3>
    <h3><input type='submit' ng-click='NewCharFactory.addDexterity()' value='+1 Dexterity' style="border: none; background: none; padding: 0;" /></h3>
    <h3><input type='submit' ng-click='NewCharFactory.addIntelligence()' value='+1 Intelligence' style="border: none; background: none; padding: 0;" /></h3>
</div>

<div ng-show="warrior.length">
  <ul ng-repeat="item in warrior">
    <h1>{{item.name}}</h1>
  </ul>
  <center><image class ='warpic' src='css/img/warrior.gif'></img></a></h3>
    <h3><input type='submit' ng-click='NewCharFactory.addStrength()' value='+1 Strength' style="border: none; background: none; padding: 0;" /></h3>
    <h3><input type='submit' ng-click='NewCharFactory.addDexterity()' value='+1 Dexterity' style="border: none; background: none; padding: 0;" /></h3>
    <h3><input type='submit' ng-click='NewCharFactory.addIntelligence()' value='+1 Intelligence' style="border: none; background: none; padding: 0;" /></h3>
</div>

<h3><a href='/'>Pick Again...</a></h3>

</div>
