<div class='container-fluid'>
   <div ng-show="mage.length">
      <ul ng-repeat="item in mage">
         <h1>{{item.name}}</h1>
         <h3>Strength {{item.strength}}</h3>
         <h3>Dexterity {{item.dexterity}}</h3>
         <h3>Intelligence {{item.intelligence}}</h3>
      </ul>
      <center>
         <image class='magepic' src='css/img/mage.gif'>
         </img>
      </center>
      <h3><a ui-sref="level1mage">Enter The Dark Temple...</a></h3>
   </div>
   <div ng-show="rogue.length">
      <ul ng-repeat="item in rogue">
         <h1>{{item.name}}</h1>
         <h3>Strength {{item.strength}}</h3>
         <h3>Dexterity {{item.dexterity}}</h3>
         <h3>Intelligence {{item.intelligence}}</h3>
      </ul>
      <center>
         <image class='roguepic' src='css/img/rogue.gif'>
         </img>
      </center>
      <h3><a ui-sref="level1rogue">Enter The Dark Temple...</a></h3>
   </div>
   <div ng-show="warrior.length">
      <ul ng-repeat="item in warrior">
         <h1>{{item.name}}</h1>
         <h3>Strength {{item.strength}}</h3>
         <h3>Dexterity {{item.dexterity}}</h3>
         <h3>Intelligence {{item.intelligence}}</h3>
      </ul>
      <center>
         <image class ='warpic' src='css/img/warrior.gif'>
         </img>
      </center>
      <h3><a ui-sref="level1war">Enter The Dark Temple...</a></h3>
   </div>
   <h3 class='turnback'><a ui-sref='home'>Turn Back...</a></h3>
</div>
