<h1>- Welcome to the Dark Temple -</h1>

<h2>Choose your hero</h2>
<h3 class='war'><a ui-sref="warrior">Warrior</a></h3>
<center><image class ='warpic' src='css/img/warrior.gif'></img></center>
<h3 class='mage'><a ui-sref="mage">Mage</a></h3>
<center><image class='magepic' src='css/img/mage.gif'></img></center>
<h3 class='rogue'><a ui-sref="rogue">Rogue</a></h3>
<center><image class='roguepic' src='css/img/rogue.gif'></img></center>
<div class='container-fluid'>
<div class='row'>
  <div class='col-md-10'>
    <div class='fire1'><img src='css/img/fire1.gif'><img></div>
  </div>
  <!-- <div class='cold-md-3'> </div>
  <div class='cold-md-3'> </div> -->
  <div class='col-md-2'>
    <div class='fire2'><img src='css/img/fire2.gif'><img></div>
  </div>
</div>


</div>
