<div class='container-fluid'>
<div ng-show="warrior.length">
   <img class='level1warpic' src='css/img/warrior.gif'></img>
   <img class='level1' src='css/img/troll.gif'></img>
   <h3><input type='submit' ng-click='CharacterFactory.diceRoll()' value='Fight' style="border: none; background: none; padding: 0;" />
      <img class='dddie' src='css/img/die.png'></img><input type='submit' value='Flee' style="border: none; background: none; padding: 0;" />
   </h3>
</div>
<div class='container-fluid'>
<div ng-show="mage.length">
   <img class='level1magepic' src='css/img/mage.gif'></img>
   <img class='level1' src='css/img/troll.gif'></img>
   <h3><input type='submit' ng-click='showroll = CharacterFactory.diceRoll()' value='Fight' style="border: none; background: none; padding: 0;" />
      <img class='dddie' src='css/img/die.png'></img><input type='submit' value='Flee' style="border: none; background: none; padding: 0;" />
   </h3>
   <ul ng-show='showroll'>
      {{ showroll }}
   </ul>
</div>
<div class='container-fluid'>
<div ng-show="rogue.length">
   <img class='level1roguepic' src='css/img/rogue.gif'></img>
   <img class='level1' src='css/img/troll.gif'></img>
   <h3><input type='submit' value='Fight' style="border: none; background: none; padding: 0;" />
      <img class='dddie' src='css/img/die.png'></img><input type='submit' value='Flee' style="border: none; background: none; padding: 0;" />
   </h3>
</div>
