<h1>Rogue</h1>
<div class='container-fluid'>
  <h1>The Gods Have Chosen You...</h1>
  <div class='roguenameentry'>
    <form ng-submit="CharacterFactory.addRogue()" class="form-inline" role="form">
      <div class="form-group">
        <input type="text" ng-model="CharacterFactory.rogueName" class="form-control" placeholder="Enter Your Name Hero...">
      </div>
      <br>
      <br>
      <h3><input type='submit' value='Your Name is...' style="border: none; background: none; padding: 0;" /><h3>
    </form>
  </div>
  <div ng-show="rogue.length">
      <ul ng-repeat="item in rogue">
        <h3><a ui-sref="roguename">{{ item.name }}</a></h3>
      </ul>
  </div>
  <h3 class='turnback'><a ui-sref='home'>Turn Back...</a></h3>
  </div>

<div ui-view> </div>
